<%= form_with(model: dog) do |form| %>
  <% if dog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dog.errors.count, "error") %> prohibited this dog from being saved:</h2>

      <ul>
        <% dog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :sex %>
    <%= form.text_field :sex, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :breed %>
    <%= form.text_field :breed, class: 'input' %>
  </div>

  <div class="field-label is-normal" style="text-align: left;">
    <%= form.label :current_weight %>
  </div>

  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <p class="control is-expanded">
          <%= form.text_field :current_weight, class: 'input' %>
        </p>
      </div>

      <div class="field">
        <div class="control is-expanded">
          <div class="select" style="width: 100%">
            <select name="units" style="width: 100%">
              <option value="pounds">pounds</option>
              <option value="kilograms">kilograms</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :birthdate %>
    <%= form.date_select :birthdate, start_year: 2000, end_year: Date.today.year %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, class: 'input' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
