<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @dog.name %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= @dog.sex %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= @dog.breed %>
  </p>

  <p>
    <strong>Current weight:</strong>
    <%= @dog.current_weight %>
    <%= @dog.is_metric? ? "kilograms" : "pounds" %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= @dog.birthdate %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= @dog.age %>
  </p>

  <%= link_to 'Edit', edit_dog_path(@dog) %>
  <%= link_to 'Destroy', @dog, class: 'dog-delete-link', method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Back', dogs_path %>
</div>
